<div class="aboutContainer container-fluid">
    <div class="row">
        <div class="col-lg-12 poststitleContainer d-flex justify-content-center align-items-center">
            <h1  class="text-center mb-5 pb-3 poststitle"> About Us! </h1>
        </div>
        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <img src="assets/Images/Aboutus.png" width="70%">
        </div>
        <div class="col-lg-6 col-md-6 aboutUs text-white " >
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, amet. Quae nam tempore labore quidem, minus eos inventore eaque amet vero, possimus est nemo, quisquam consequuntur magnam. Pariatur, inventore enim?</p>
        </div>
    </div>
</div>