nav.navbar{
    background-color: #151d2a;
}
.navbar-brand{
    background-color: #DF7861;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 7px;
    font-size: 17px;
}
#navbarNav{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.navbar-nav li{
    
    margin: 0 10px;
    padding :3px 10px;
    transition:  all 0.5s ease-in-out;
}
.navbar-nav li:hover{
    background-color: #DF7861;
    color: white;
}
.navbar-nav li {
    font-size: 16px;
}
.active{
    border-bottom: 5px solid   #DF7861;
    border-radius: 15px;
    text-align: center;
}