<div class="container-fluid aboutcontainer">
    <div class="row text-white justify-content-center align-items-center">
        <div class="col-lg-12 d-flex justify-content-center">

            <img src="assets/Images/err.png" style="width: 25%;" />
        </div>
        <div class="col-lg-12  ">
            <div class="msg card  w-100 p-5  text-center">

                <div class="errmsg tex">
    
                    <h1 class="errTitle">Oops!</h1>
                    <p>Page Not Found.</p>
                </div>
                <div class="btnback d-flex text-center justify-content-center align-items-center" >
                    <p class="m-0 me-2">Go Back To Home : </p>
                    <a class="btn " routerLink="/home">Home</a>
    
                </div>
            </div>
        </div>
    </div>
</div>
