.aboutcontainer{
    height: 100vh;
    background-color: rgb(23, 35, 50);

}
.msg{
    background-color: #203651;

}
.btnback a{
background-color: #d06148;
color: white;
transition: 0.5s all ease-in-out;
}
.btnback a:hover{
    background-color: #e28672;

}