
<div class="container-fluid postsContainer">
    <div class="row">
        <div class="col-lg-12 poststitleContainer d-flex justify-content-center align-items-center">
            <h1  class="text-center my-5 py-3 poststitle"> Posts </h1>
        </div>

        <div class="col-lg-3 col-md-6" *ngFor="let p of arrayOfPosts | paginate: {itemsPerPage:20,currentPage: postPage,totalItems:totalLength} ">
            <a class="post-link " routerLink="/posts/{{p.id}} "  >
                <div class="card postCard mt-3" >
               
                    <div class="card-body p-2" >
                        <img  src="assets/Images/1.jpg"  #imgTag style="max-width: 100%; height: 300px;">
                        <!-- <input type="text" > -->
                        <!-- {{getRandomImg()}} -->
                        <div class="postCardDesc container" style="height:100px">
                            <div class="row h-100 justify-content-center align-items-baseline  w-100" style="margin: 0;">
                                <div class="col-lg-6 mt-3 col-md-6 col-sm-6">
                                    <div class="postTitleCard">
                                        <h5 class=" text-decoration-none">
                                            {{p.title.substring(0,20)+ "..."}}
                                        </h5>
                                    </div>
                               </div>
                                    <div class="postTitleCard col-lg-6 col-md-6 col-sm-6 mt-3 ">
                                            <div class="icon">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F05454" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                                  </svg>
                                                  2000
                                            </div>
                                            <div class="icon">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00818A" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                                                </svg>
                                                5000
                                            </div>
                                   
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
       
        <div class="col-lg-12 text-center my-5">

            <pagination-controls class="paginationContainer" (pageChange)="postPage = $event"></pagination-controls>
        </div>
        
    </div>
</div>